---
import { getPostLink } from '@constant'

import type { PostModel } from '@interfaces/post-model'
import { getMD } from '@utils/date-helper'

interface Props {
  posts: PostModel[]
}

const { posts } = Astro.props
---

{
  posts.map((post) => (
    <>
      <div class="flex py-2">
        <a class="flex-1 truncate" href={getPostLink(post)}>
          {post.data.title}
        </a>
        <time datetime={post.data.date.toISOString()}>{getMD(post.data.date)}</time>
      </div>
      <div class="flex items-center">
        {post.data.tags?.map((tag) => (
          <a class="m-1 inline-block text-xs text-gray-500 no-underline" href={'/tags/' + tag}>
            #{tag}
          </a>
        ))}
      </div>
      <div class=" text-gray-500">{post.data.description}</div>
    </>
  ))
}
